* {
    box-sizing: border-box;
}

.links {
    list-style-type: none;
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
    flex: content;
    text-align: center;
    display: block;
}

li {
    display: inline;
}

li a {
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 18px;
    font-family: cursive;
    float: right;
    display: block;
}

#motor_logo {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    padding: 0px;
    position: relative;
}

.navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    .stuff {
        display: inherit;

    }

    a {
        text-decoration: none;
        color: black;
        padding: 10px;
        margin: 5px;
        font-family: cursive;
    }
}

.hover {
    display: inline-block;
    position: relative;
    color: black;
}

.hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#temporar {
    display: flex;
    margin: 7rem 3rem;
    flex-direction: column;
    align-items: center;
}

#texttemp {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    word-spacing: 1.7;
    line-height: 1.5;
    display: flex;
    text-align: center;
}

#temp {
    width: 25%;
    height: 25%;
}