* {
    box-sizing: border-box;
}

.links {
    list-style-type: none;
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
    flex: content;
    text-align: center;
    display: block;
}

li {
    display: inline;
}

li a {
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 18px;
    font-family: cursive;
    float: right;
    display: block;
}

#motor_logo {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    padding: 0px;
    position: relative;
}

#title {
    font-family: cursive;
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}

#body {
    text-align: center;
    font-size: 20px;
    padding: 50px 200px 50px 200px;
    line-height: 1.7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#spacing {
    padding-left: 100px;
    padding-right: 100px;
}

#ce-i-ala-motor {
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 40px;
    text-decoration: underline;
}

#spacing1 {
    padding-left: 526px;
    padding-right: 526px;
}

#motor_orig {
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    margin-top: 50px;
    display: flex;
}

#near_gif {
    font-size: 20px;
    margin-left: 5rem;
    line-height: 1.7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lol {
    display: flex;
    margin: 0rem 10rem;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

#LMAO {
    width: 35%;
}

#LMAO2 {
    width: 85%;
}

.navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    .stuff {
        display: inherit;

    }

    a {
        text-decoration: none;
        color: black;
        padding: 10px;
        margin: 5px;
        font-family: cursive;
    }
}

.hover {
    display: inline-block;
    position: relative;
    color: black;
}

.hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.istorie {
    display: flex;
    margin: 0rem 10rem;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

#introd {
    text-decoration: none;
    color: black;
}

.introducere {
    margin-top: 2rem;
    font-size: 20px;
    margin-left: 5rem;
    line-height: 1.7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.imagineintroducere {
    display: flex;
    margin: 0rem 2rem;
    justify-content: space-evenly;
    text-align: justify;
    margin-bottom: 3rem;
}

#introducere2 {
    width: 40%;
    height: 40%;
}

.introduceretext {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0rem 2rem;
    font-size: 18px;
    line-height: 1.7;
    word-spacing: 5;
}

.underline {border-color: black;
    position: relative;
    top: -10px;
    width: 25%;
    height: 5px;
    border: none;
    background-color: black;
    border-radius: 3px;
    margin: 0;
    right: -172px;

}

.exempleimagini {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: auto;
}

#exemple {
    display: flex;
    width: 25%;
    height: 25%;
}

#cuprins {
    display: flex;
    justify-content: center;
    line-height: 2;
}

.cuprins {
    display: block;
    font-family: cursive;
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 1.6;
    
}

.revolutie1 {
    font-family: cursive;
    font-size: 2rem;
    text-align: center;
}

#cevarevo {
    font-size: 20px;
    margin: 0 10rem;
    line-height: 1.7;
    margin-top: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#descopeririceva {
    margin: 0px 8rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.descopeririceva {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 0 1rem;
    line-height: 1.7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#lista1 {
    display: list-item;
    background-color: #AFAFAF;
    
}

#lista2 {
    display: list-item;
    background-color: #747474;
}

.capdelista {
    font-family: cursive;
    margin-bottom: 3rem;
    font-size: 20px;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}